body{
    background-image: url("photo/bouwvakker.jpg");
    opacity: 0.8;
}
h1{
    font-size: 80px;
    margin: 50px;
    text-align: center;

}
.container{
    border-style: solid;
    border-width: 3px;
}
.col{

}
.jumbotron{

    border-style: solid;
    border-width: 1px;
}
.ul.nav.navbar-nav{
    background-color: aqua;
}
.navbar.navbar-default{
    background: black;
    background-color: black;
    border:transparent;

}
